<h1> All mechanics </h1>

<% @mechanics.each do |mechanic| %> 
  <div id="mechanic_<%= mechanic.id %>">
    <h4> Name: <%= mechanic.name %>
    <h4> Years of Experience: <%= mechanic.years_experience %>
  </div>
<% end %>

<div id="avgexp">
<%= "Average Experience of Our Mechanics: #{@mechanics.average_experience}" %>
</div>

